database/names
database/namesbystate
FakeUsers

__pycache__
.venv
.vscode
testCode.py
femaleList.json
maleList.json
UserFile.json
nameData.json
scrapeNamesFromSite.py
FullNameData.json
surnamesData.json
